.productlist{
    flex: 4;
    position: relative;
}
.addbtn{
    position: absolute;
    right:20px;
    padding: 10px ;
    border: 1px solid cadetblue;
    cursor: pointer;
    
}



.userTrasaction{
    color: gray;
}
.productImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


@media screen and (max-width:778px ) {
    .userList{
        /* width: max-content; */
        overflow-x: auto;

    }
    
}